{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "no-console": 0, // remember, this means error!
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-explicit-any": "off",

        "capitalized-comments": [
            "error",
            "always",
            {
                "ignorePattern": "pragma|ignored",
                "ignoreInlineComments": true
            }
        ],
        "require-await": "error", // if the function is async it should require await inside
        "prefer-object-spread": "error",
        // // "prefer-object-has-own": "error",
        // "prefer-const": [
        //     "error",
        //     {
        //         "destructuring": "any",
        //         "ignoreReadBeforeAssign": false
        //     }
        // ],
        "no-useless-return": "error",
        "no-var": "error",
        "no-useless-escape": "error",
        // "no-useless-rename": [
        //     "error",
        //     {
        //         "ignoreDestructuring": false,
        //         "ignoreImport": false,
        //         "ignoreExport": false
        //     }
        // ],
        "no-unused-expressions": "error",
        "no-undefined": "error",
        "no-undef-init": "error"

        // "sort-imports": [
        // //     "error",
        // //     {
        // //         "ignoreCase": false,
        // //         "ignoreDeclarationSort": false,
        // //         "ignoreMemberSort": false,
        // //         "memberSyntaxSortOrder": ["none", "all", "multiple", "single"],
        // //         "allowSeparatedGroups": false
        // //     }
        // ],
        // "sort-keys": ["error", "asc", { "caseSensitive": true, "natural": false, "minKeys": 2 }],
        // "sort-vars": "error",
        // "spaced-comment": [
        //     "error",
        //     "always",
        //     {
        //         "line": {
        //             "markers": ["/"],
        //             "exceptions": ["-", "+"]
        //         },
        //         "block": {
        //             "markers": ["!"],
        //             "exceptions": ["*"],
        //             "balanced": true
        //         }
        //     }
        // ]
        // "block-spacing": "error",
        // "arrow-parens": ["error", "always"],
        // "array-element-newline": [
        //     "error",
        //     {
        //         "ArrayExpression": "consistent",
        //         "ArrayPattern": { "minItems": 3 }
        //     }
        // ],
        // "key-spacing": ["error", { "mode": "strict" }],
        // "keyword-spacing": [
        //     "error",
        //     // {
        //     //     "overrides": {
        //     //         "if": { "after": true },
        //     //         "for": { "after": true },
        //     //         "while": { "after": true },
        //     //         "static": { "after": true },
        //     //         "as": { "after": true }
        //     //     }
        //     // }
        // ],
        // "no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 0 }],
        // "no-tabs": ["error", { "allowIndentationTabs": true }],
        // "quotes": ["error", "single", { "allowTemplateLiterals": true }],
        // "rest-spread-spacing": ["error", "never"],
        // "semi": ["error", "always"],
        // "semi-spacing": ["error", { "before": false, "after": true }],
        // "func-style": ["error", "declaration", { "allowArrowFunctions": true }],
        // "eqeqeq": "error",
        // "dot-notation": ["error", { "allowKeywords": false }],
        // "default-param-last": ["error"],
        // "default-case-last": "error",
        // // "curly": "error"
    }
}
